configuration {
    font: "Fira Code 35";
    display-ssh:    "";
    display-run:    "💻";
    display-drun:   "";
    display-window: "🪟";
    display-combi:  "";
    show-icons:     true;
    modi:           [window,run,ssh,combi];
}


@theme "~/.config/rofi/nord.rasi"

listview {
	lines: 6;
	columns: 2;
}

window {
	width: 50%;
}

